.header {
    width: 100%;
    padding: 10px 0;

    display: grid;
    // justify-content: space-evenly;
    grid-template-columns: auto 100px 1fr 100px auto;
    grid-template-rows: 1fr 1fr;
    padding: 5px 0;
    background-image: url("../image/1.png");
    background-size: contain;
    position: relative;


    .img-cover {

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
        }
    }

}

.logo-mobile {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;



    @include tablets {

        grid-row: 1/3;
    }
}


.fb-like {
    grid-column: 4;
    grid-row: 1;
    display: none;

    @include mobile {
        display: block;
    }

}

h1 {
    grid-column: 2/5;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster',
        cursive,
        'Montserrat',
        Georgia,
        'Times New Roman',
        Times,
        serif;
    text-align: center;
    width: 100%;
    order: 2;
    color: white;
    -webkit-text-stroke: 1px black;
    letter-spacing: 3px;
    font-size: 11vw;
    z-index: 5;

    @include tablets {
        grid-column: 2/5;
        grid-row: 1/3;
        font-size: 8vw;
    }


}

.fb-like {
    z-index: 5;
}